body {
    background-color: gray;
    
}

img {
    width: 200px;
    height: 266px;
    border-radius: 50%;
}
#pessoas {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
}
.pessoa {
    align-items: center;
    flex-direction: row;
    display: flex;
    margin:50px;
}